{
    "prefix": "!",
    "token": "BOT_TOKEN",
    "dev_id": "YOUR_DISCORD_ID",
    "amount": 100,
    "randomLinks": [
        "https://media.giphy.com/media/3PAL5bChWnak0WJ32x/giphy.gif",
        "https://media.giphy.com/media/8nmvR3jAxnl2o/giphy.gif",
        "https://media.giphy.com/media/SJbD4EnZD8807Ul5p4/giphy.gif"
    ]
}